/* Window Title */
.title {
color: red;
font-size: 25px;
}


.titlebar {
background-color: black; /* this only shows when focus is off window */
}

scrollbar {
min-width: 20px;
}

scrollbar > contents > trough > slider {
min-width: 18px;
}


